.git
.gitignore
.env
.env.*
.DS_Store
internal/site/build/
/cowyo2
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
web/node_modules/
npm-debug.log*
tmp/
