server {
	# SERVER BLOCK FOR awwkoala
	listen   80; ## listen for ipv4; this line is default and implied

	access_log /etc/nginx/logs/access-awwkoala.log;
	error_log /etc/nginx/logs/error-awwkoala.log info;
	root CUR_DIR;
	server_name ADDRESS;

	# Media: images, icons, video, audio, HTC
	location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
		expires 1M;
		access_log off;
		add_header Cache-Control "public";
	}

	# CSS and Javascript
	location ~* \.(?:css|js)$ {
		expires 1y;
		access_log off;
		add_header Cache-Control "public";
	}

	location ^~ /static  {
		try_files $uri $uri/ =404;
	}

	location ~ ^/ {
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_set_header X-NginX-Proxy true;

		proxy_pass http://127.0.0.1:PORT;
		proxy_redirect off;

		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
	}
}
