<!DOCTYPE html>
<html>

<head>
  <title>{{ .Title }}</title>

  {{ template "header" }}



  <script src="/static/js/jquery.autogrowtextarea.min.js"></script>
  {{if .NoEdit}} {{else}} <script src="/static/js/websockets.js"></script>  {{end}}

  <script>
    external_ip = '{{ .ExternalIP }}'
    title_name = '{{ .Title }}'
  </script>



  <style type="text/css">
    textarea {
      width: 100%;
      margin: 5px 0;
      padding: 10px;
      border: none;
      overflow: auto;
      outline: none;
      font-size: large;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: Tahoma, sans-serif;
    }

    body {
      margin: 0;
      background: #fff;
      max-width: 800px;
      margin: 0 auto;
    }
  </style>


</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">AwwKoala</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  class="active">Edit <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Previous versions</li>
              <li><a href="/{{ .Title }}?version=0">First</a></li>
              {{ range .Versions }}
              <li><a href="/{{ $.Title }}?version={{ .VersionNum }}">{{ .VersionDate }}</a></li>
              {{ end }}
              <li><a href="/{{ .Title }}">Current</a></li>
            </ul>
          </li>
          <li><a href="/{{ .Title }}/view">View</a></li>
          <li><a href="/{{ .Title }}/list">List</a></li>
          <li><a href="/about/view">About</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <form action='#' id="emit" method="post" name="emit">

    <div>
      <textarea autofocus rows={{ .NumRows }} class='auto_submit_item' id="emit_data" name="emit_data" placeholder="Start typing, it will save automatically. Go to awwkoala.com/{{ .Title }} to reload your note. Do not post anything private since anyone with the URL can access this note.">{{ .CurrentText }}</textarea>
    </div>

  </form>
  <script>
    $(document).ready(function() {
      $("#emit_data").autoGrow();
    });
  </script>


</body>

</html>
