<!DOCTYPE html>
<html>

<head>
  <title>{{ .Title }}</title>

  {{ template "header" }}

  <link rel="stylesheet" type="text/css" href="/static/css/view.css">
  <link rel="stylesheet" type="text/css" href="/static/css/katex.min.css">
<script src="/static/js/katex.min.js"></script>


</head>

<body>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Cowyo</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/{{ .Title }}">Edit</a></li>
          <li  class="active"><a href="/{{ .Title }}/view">View</a></li>
          <li><a href="/{{ .Title }}/list">List</a></li>
          <li><a href="/about/view">About</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="yue">
    {{ .Body }}
  </div>


<script>
$( document ).ready(function() {
  var tex = document.getElementsByClassName("tex");
  Array.prototype.forEach.call(tex, function(el) {
      katex.render(el.getAttribute("data-expr"), el);
  });

});


</script>
</body>

</html>
